BasedOnStyle: Google

KeepEmptyLinesAtTheStartOfBlocks: true
ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false

AlwaysBreakTemplateDeclarations: Yes

BreakAfterAttributes: Leave

DerivePointerAlignment: false
PointerAlignment: Left
