BasedOnStyle: Google

KeepEmptyLinesAtTheStartOfBlocks: true
ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false

AlwaysBreakTemplateDeclarations: Yes

DerivePointerAlignment: false
PointerAlignment: Left

StatementMacros: [RR_ENUM, RR_OBJECT, RR_WITH_PRIVATE, RR_NAME, REX_EXCLUDE]