[submodule "library/RE-flex"]
	path = library/RE-flex
	url = https://github.com/Genivia/RE-flex.git
	ignore = untracked
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "generator/llvm-project"]
	path = generator/llvm-project
	url = https://github.com/llvm/llvm-project
